<!DOCTYPE html>
<html>
  <head>
    <title>MSM SIGNIN</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
  <!-- Navigation: only show sign up/sign in if no logged in user; else show sign out -->
    <% if session[:user_id] == nil %>
      <li>
        <a href="/user_sign_up">
          Sign up
        </a>
      </li>
      <li>
        <a href="/user_sign_in">
          Sign in
        </a>
      </li>

    <%= yield %>
  </body>
</html>
